<%= form_with(model: qrcode, local: true) do |form| %>
  <% if qrcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qrcode.errors.count, "error") %> prohibited this qrcode from being saved:</h2>

      <ul>
      <% qrcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :qrcode_code %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc, id: :qrcode_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
